<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tensor-widget demo</title>
    <link rel="stylesheet" href="../tensor-widget.css"/>

    <style>
      body {
        padding: 20px;
      }
      .tensor {
        display: inline-block;
        width: 500px;
        height: 300px;  /* TODO(cais): Need to be set programmatically in library. */
        white-space: nowrap;
        border: 1px solid rgb(220, 220, 220);
        margin: 15px;
      }
      .tensor.large {
        width: 800px;
        height: 480px;
      }
    </style>
</head>
<body>
  <div>
    <div id="tensor1" class="tensor"></div>
    <!-- <div id="tensor0" class="tensor"></div>
    <div id="tensor1" class="tensor"></div>
    <div id="tensor2" class="tensor"></div>
    <div id="tensor3" class="tensor"></div>
    <div id="tensor4" class="tensor"></div>
    <div>
      <div id="tensor5" class="tensor large"></div>
      <div>
        <button id="tensor5-clear">Clear</button>
        <input id="tensor5-indices" value="2,3,0,0">
        <button id="tensor5-navigate-to">Go</button>
      </div>
    </div>
  </div> -->
  <script src="./index.ts"></script>
</body>
</html>
