# Copyright 2019 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

# Non-vendored runtime dependencies of TensorBoard.

absl-py >= 0.4
# NOTE: this version should be >= the grpc version in our WORKSPACE file.
grpcio >= 1.48.2
google-auth >= 1.6.3, < 3
google-auth-oauthlib >= 0.4.1, < 0.5
markdown >= 2.6.8
numpy >= 1.12.0
# NOTE: this version must be >= the protoc version in our WORKSPACE file.
# At the same time, any constraints we specify here must allow at least some
# version to be installed that is also compatible with TensorFlow's constraints:
# https://github.com/tensorflow/tensorflow/blob/9d22f4a0a9499c8e10a4312503e63e0da35ccd94/tensorflow/tools/pip_package/setup.py#L100-L107
protobuf >= 3.19.6
requests >= 2.21.0, < 3
setuptools >= 41.0.0
tensorboard-data-server >= 0.7.0, < 0.8.0
tensorboard-plugin-wit >= 1.6.0
werkzeug >= 1.0.1
wheel >= 0.26
