# Dependencies of TensorBoard used only for testing or development.

# For tests
grpcio-testing==1.24.3
# For gfile S3 test
boto3==1.9.86
moto==1.3.7

# For linting
black==19.0b0, python_version >= "3"
flake8==3.7.8
yamllint==1.17.0

# For building Pip package
virtualenv==16.7.7
