# Copyright 2019 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

# Non-vendored runtime dependencies of TensorBoard.

absl-py >= 0.4
# NOTE: this version should be >= the grpc version in our WORKSPACE file.
grpcio >= 1.48.2
markdown >= 2.6.8
numpy >= 1.12.0
# NOTE: The packaging dependency was introduced in order to compare installed
# package versions and conditionally use different supported kwargs
# (specifically the protobuf dependency). If we restrict protobuf >= 5.0.0 we
# can get rid of the packaging dependency.
packaging
# NOTE: this version must be >= the protoc version in our WORKSPACE file.
# At the same time, any constraints we specify here must allow at least some
# version to be installed that is also compatible with TensorFlow's constraints:
# https://github.com/tensorflow/tensorflow/blob/25adc4fccb4b0bb5a933eba1d246380e7b87d7f7/tensorflow/tools/pip_package/setup.py#L101
# 4.24.0 had an issue that broke our tests, so we should avoid that release:
# https://github.com/protocolbuffers/protobuf/issues/13485
protobuf >= 3.19.6, != 4.24.0
setuptools >= 41.0.0  # Note: provides pkg_resources as well as setuptools
# A dependency of our vendored packages. This lower bound has not been correctly
# vetted, but I wanted to be the least restrictive we can, since it's not a new
# requirement, and likely this will not disrupt existing users of the package.
six > 1.9
tensorboard-data-server >= 0.7.0, < 0.8.0
werkzeug >= 1.0.1
