@use '@angular/material' as mat;
@import 'tensorboard/webapp/theme/tb_theme';

.context-menu {
  display:flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: mat.get-color-from-palette($tb-foreground, border);
  background-color: mat.get-color-from-palette($tb-background, background);

  @include tb-dark-theme {
    border-color: mat.get-color-from-palette($tb-dark-foreground, border);
    background-color: mat.get-color-from-palette(
      $tb-dark-background,
      'background'
    );
  }

  .context-menu-button {
    justify-content: left;
    width: 100%;
    text-wrap: nowrap;
  }

  .no-actions-message {
    padding: 8px;
    text-wrap: nowrap;
  }

  .sort-button {
    ::ng-deep path {
      fill: unset;
    }
  }
}
