# GitHub Actions CI definition for TensorBoard.
#
# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/

name: CI

on:
  push:
    branches:
      - master
      - '[0-9]+.*'
      - 'ci-*'
  pull_request: {}

env:
  BAZEL_VERSION: '3.7.0'
  BAZEL_SHA256SUM: 'b7583eec83cc38302997098a40b8c870c37e0ab971a83cb3364c754a178b74ec'
  BUILDTOOLS_VERSION: '3.0.0'
  BUILDIFIER_SHA256SUM: 'e92a6793c7134c5431c58fbc34700664f101e5c9b1c1fcd93b97978e8b7f88db'
  BUILDOZER_SHA256SUM: '3d58a0b6972e4535718cdd6c12778170ea7382de7c75bc3728f5719437ffb84d'

jobs:
  build:
    runs-on: ubuntu-16.04
    #needs: lint-python-flake8 # fail fast in case of "undefined variable" errors
    strategy:
      fail-fast: false
      matrix:
        # flake8 should run on each Python version that we target,
        # because the errors and warnings can differ due to language
        # changes, and we want to catch them all.
        tf_version_id: ['tf-nightly', 'notf']
        python_version: ['3.7']
    steps:
      - run: env
      - uses: actions/checkout@v1
      - run: env
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python_version }}
          architecture: 'x64'
      - run: echo $PATH
      - run: env
      - name: 'Set up virtualenv and fixed PATH variable'
        run: |
          sudo mkdir /venv
          sudo chown "$USER:$USER" /venv
          python3 -m venv /venv
          . /venv/bin/activate
          export VIRTUAL_ENV=/venv
          export PATH="/venv/bin:/usr/local/bin:/usr/bin:/bin"
          printf '%s\n' "VIRTUAL_ENV=/venv" >>"${GITHUB_ENV}"
          printf '%s\n' "PATH=$PATH" >>"${GITHUB_ENV}"
          printf '%s\n' "/tmp/nonexistent/wheredoesthisgo" >>"${GITHUB_PATH}"
          # GitHub appears to insert an "/opt/hostedtoolcache/..." PATH
          # entry at the start of each action. Thus, also export as
          # ACTION_ENV_PATH so that we can recover exactly the PATH that
          # we need.
          printf '%s\n' "ACTION_ENV_PATH=$PATH" >>"${GITHUB_ENV}"
          echo "$PATH"
          pip install -U pip setuptools wheel
      - run: echo $PATH && env
      - name: Overwrite PATH=ACTION_ENV_PATH
        run: printf 'PATH=%s\n' "$ACTION_ENV_PATH" >>"${GITHUB_ENV}"
      - run: echo $PATH && env
      - name: 'Set up Bazel'
        run: |
          ci/download_bazel.sh "${BAZEL_VERSION}" "${BAZEL_SHA256SUM}" ~/bazel
          sudo mv ~/bazel /usr/local/bin/bazel-vanilla
          printf '%s\n' \
            '#!/bin/sh' \
            'set -eu' \
            'export PATH="${ACTION_ENV_PATH}"' \
            'env' \
            'exec /usr/local/bin/bazel-vanilla "$@"' \
            | sudo tee /usr/local/bin/bazel
          sudo chmod +x /usr/local/bin/bazel
          cp ./ci/bazelrc ~/.bazelrc
      - run: env
      - name: 'Install Python dependencies'
        run: |
          echo "$VIRTUAL_ENV"
          echo "$PATH"
          echo "$ACTION_ENV_PATH"
          python -m pip install -U pip
          pip uninstall -y numpy
          pip install \
            -r ./tensorboard/pip_package/requirements.txt \
            -r ./tensorboard/pip_package/requirements_dev.txt \
            ;
      - run: env
      - name: 'Install TensorFlow'
        run: pip install "${{ matrix.tf_version_id }}"
        if: matrix.tf_version_id != 'notf'
      - run: env
      - name: 'Check Pip state'
        run: pip freeze --all
      - run: env
      - run: echo "$PATH" && echo "$ACTION_ENV_PATH"
      - name: Find numpy include path
        run: |
          export PATH="$ACTION_ENV_PATH"
          python -c 'from __future__ import print_function; import numpy; print(numpy.get_include())'
      - name: 'Bazel: fetch'
        run: bazel fetch //tensorboard/...
      - name: 'Bazel: build'
        run: bazel build //tensorboard/...
      - name: 'Bazel: test (with TensorFlow support)'
        run: bazel test //tensorboard/...
        if: matrix.tf_version_id != 'notf'
      - name: 'Bazel: test (non-TensorFlow only)'
        run: bazel test //tensorboard/... --test_tag_filters="support_notf"
        if: matrix.tf_version_id == 'notf'
      - name: 'Bazel: run Pip package test'
        run: |
          bazel run //tensorboard/pip_package:test_pip_package -- \
            --tf-version "${{ matrix.tf_version_id }}"
      - name: 'Bazel: run manual tests'
        run: |
          bazel test //tensorboard/compat/tensorflow_stub:gfile_s3_test &&
          bazel test //tensorboard/summary/writer:event_file_writer_s3_test

# lint-python-flake8:
#   runs-on: ubuntu-16.04
#   strategy:
#     fail-fast: false
#     matrix:
#       # flake8 should run on each Python version that we target,
#       # because the errors and warnings can differ due to language
#       # changes, and we want to catch them all.
#       python_version: ['3.5', '3.7']
#   steps:
#     - uses: actions/checkout@v1
#     - uses: actions/setup-python@v1
#       with:
#         python-version: ${{ matrix.python_version }}
#         architecture: 'x64'
#     - name: 'Install flake8'
#       run: |
#         python -m pip install -U pip
#         pip install flake8 -c ./tensorboard/pip_package/requirements_dev.txt
#     - run: pip freeze --all
#     - name: 'Lint Python code for errors with flake8'
#       # See: http://flake8.pycqa.org/en/3.7.8/user/error-codes.html
#       # Use the comment '# noqa: <error code>' to suppress.
#       run: flake8 . --count --select=E9,F63,F7,F82,F401 --show-source --statistics

# lint-python:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - uses: actions/setup-python@v1
#       with:
#         python-version: '3.6'
#         architecture: 'x64'
#     - name: 'Install black'
#       run: |
#         python -m pip install -U pip
#         pip install black -c ./tensorboard/pip_package/requirements_dev.txt
#     - run: pip freeze --all
#     - name: 'Lint Python code for style with Black'
#       # You can run `black .` to fix all Black complaints.
#       run: black --check --diff .

# lint-rust:
#   runs-on: ubuntu-16.04
#   strategy:
#     matrix:
#       rust_version: ['1.48.0']
#       cargo_raze_version: ['0.7.0']
#   steps:
#     - uses: actions/checkout@v1
#     - name: 'Cache Cargo home directory'
#       uses: actions/cache@v2
#       with:
#         path: |
#           tensorboard/data/server/target/
#           # https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
#           ~/.cargo/bin/
#           ~/.cargo/registry/index/
#           ~/.cargo/registry/cache/
#           ~/.cargo/git/db/
#           # Needed for installing binaries (`cargo-raze`) with cache
#           ~/.cargo/.crates.toml
#           ~/.cargo/.crates2.json
#         key: ${{ runner.os }}-cargo-${{ matrix.rust_version }}-${{ matrix.cargo_raze_version }}-${{ hashFiles('**/Cargo.lock', '.github/workflows/ci.yml') }}
#     - name: 'Install Rust toolchain'
#       uses: actions-rs/toolchain@v1
#       with:
#         toolchain: ${{ matrix.rust_version }}
#     - name: 'Install cargo-raze'
#       run: cargo install cargo-raze --version ${{ matrix.cargo_raze_version }}
#     - name: 'Run Rustfmt'
#       run: (cd tensorboard/data/server/ && cargo fmt -- --check)
#     - name: 'Run Clippy'
#       uses: actions-rs/clippy-check@v1
#       with:
#         token: ${{ secrets.GITHUB_TOKEN }}
#         args: --manifest-path tensorboard/data/server/Cargo.toml
#     - name: 'Check cargo-raze freshness'
#       run: |
#         rm -rf third_party/rust/
#         (cd tensorboard/data/server/ && cargo fetch && cargo raze)
#         git add .
#         git diff --staged --exit-code

# lint-docs:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - uses: actions/setup-python@v1
#       with:
#         python-version: '3.6'
#         architecture: 'x64'
#     - name: 'Install yamllint'
#       run: |
#         python -m pip install -U pip
#         pip install yamllint -c ./tensorboard/pip_package/requirements_dev.txt
#     - run: pip freeze --all
#     - name: 'Lint YAML for gotchas with yamllint'
#       # Use '# yamllint disable-line rule:foo' to suppress.
#       run: yamllint -c docs/.yamllint docs docs/.yamllint
#     - name: 'Install the TensorFlow docs notebook tools'
#       run: |
#         nbfmt_version="174c9a5c1cc51a3af1de98d84824c811ecd49029"
#         python3 -m pip install -U git+https://github.com/tensorflow/docs@${nbfmt_version}
#     - name: 'Use nbfmt to check Colab notebooks for formatting'
#       run: git ls-files -z '*.ipynb' | xargs -0 python3 -m tensorflow_docs.tools.nbfmt --test

# lint-frontend:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - uses: actions/setup-node@v1
#     - run: yarn install --ignore-engines
#       # You can run `yarn fix-lint` to fix all Prettier complaints.
#     - run: yarn lint
#       # Make sure no tests are skipped with "focused" tests.
#     - run: |
#         ! git grep -E 'f(it|describe)\(' 'tensorboard/*_test.ts'
#       # Make sure no one depends on Angular material and CDK directly. Please
#       # import the indirection in //tensorboard/webapp/angular.
#     - run: |
#         ! git grep -E '"@npm//@angular/material"|"@npm//@angular/cdk"' 'tensorboard/*/BUILD' ':!tensorboard/webapp/BUILD' ':!tensorboard/webapp/angular/BUILD'
#       # Cannot directly depend on d3 in webapp. Must depend on
#       # `//tensorboard/webapp/third_party:d3` instead.
#     - run: |
#         ! git grep -E '"@npm//d3"|"@npm//@types/d3"' 'tensorboard/webapp/**/*BUILD' ':!tensorboard/webapp/third_party/**'
#     - run: |
#         ! git grep -E '"@npm_angular_bazel//:index.bzl"' 'tensorboard/**/BUILD'

# lint-build:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - name: 'Set up Buildifier'
#       run: |
#         ci/download_buildifier.sh "${BUILDTOOLS_VERSION}" "${BUILDIFIER_SHA256SUM}" ~/buildifier
#         sudo mv ~/buildifier /usr/local/bin/buildifier
#     - name: 'Set up Buildozer'
#       run: |
#         ci/download_buildozer.sh "${BUILDTOOLS_VERSION}" "${BUILDOZER_SHA256SUM}" ~/buildozer
#         sudo mv ~/buildozer /usr/local/bin/buildozer
#     - name: 'Lint BUILD files'
#       # TODO(tensorboard-team): address all lint warnings and remove the exemption.
#       run:
#         git ls-files -z '*BUILD' third_party/js.bzl third_party/workspace.bzl | xargs -0 buildifier --mode=check --lint=warn
#         --warnings=-native-py,-native-java
#     - run: ./tensorboard/tools/mirror_urls_test.sh
#     - name: 'Lint for no py2 BUILD targets'
#       # Use | to start a literal so YAML doesn't complain about the '!' character.
#       run: |
#         ! git grep 'python_version = "PY2"' '*BUILD'
#     - name: 'No comments on licenses rule'
#       # Assert buildozer error code for 'success, when no changes were made'.
#       # https://github.com/bazelbuild/buildtools/blob/master/buildozer/README.md#error-code
#       run: |
#         buildozer '//tensorboard/...:%licenses' remove_comment && false || test $? = 3

# lint-proto:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - name: clang-format lint
#       uses: DoozyX/clang-format-lint-action@v0.5
#       with:
#         source: ./tensorboard
#         # Exclude tensorboard/compat because the source of truth is TensorFlow.
#         exclude: ./tensorboard/compat/proto
#         extensions: 'proto'
#         clangFormatVersion: 9

# check-misc:
#   runs-on: ubuntu-16.04
#   steps:
#     - uses: actions/checkout@v1
#     - run: ./tensorboard/tools/do_not_submit_test.sh
#     - run: ./tensorboard/tools/license_test.sh
#     - run: ./tensorboard/tools/whitespace_hygiene_test.py
