# GitHub Actions CI definition for TensorBoard.
#
# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/

name: CI

on:
  push:
    branches:
      - master
      - '[0-9]+.*'
      - 'ci-*'
    tags:
      - '*'
  pull_request: {}
  workflow_call: {}

permissions:
  contents: read

env:
  # Keep this Bazel version in sync with the `versions.check` directive
  # in our WORKSPACE file.
  BAZEL_VERSION: '6.5.0'
  BAZEL_SHA256SUM: 'a40ac69263440761199fcb8da47ad4e3f328cbe79ffbf4ecc14e5ba252857307'
  BUILDTOOLS_VERSION: '3.0.0'
  BUILDIFIER_SHA256SUM: 'e92a6793c7134c5431c58fbc34700664f101e5c9b1c1fcd93b97978e8b7f88db'
  BUILDOZER_SHA256SUM: '3d58a0b6972e4535718cdd6c12778170ea7382de7c75bc3728f5719437ffb84d'
  TENSORFLOW_VERSION: 'tf-nightly'

jobs:
  build:
    runs-on: ubuntu-22.04
    needs: lint-python-flake8 # fail fast in case of "undefined variable" errors
    strategy:
      fail-fast: false
      matrix:
        python_version: ['3.9']
    steps:
      - run: dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -n | tail -n 100
      - run: df -h
      - run: ls /opt/
      - run: ls /opt/hostedtoolcache

